.SortControl {
  position: relative;
  user-select: none;
}

.ascending:after, .descending:after {
  content: '';
  position: absolute;
  height: 0px;
  width: 0px;
  border: 5px solid black;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translateX(5px);
}

.ascending:after {
  top: 2px;
  border-top-color: transparent;
}

.descending:after {
  top: 8px;
  border-bottom-color: transparent;
}