.CarList {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

.CarList td {
  border: 1px solid lightgrey;
  padding: 0.4em 0.2em;
}

.CarList th {
  width: 25%;
  text-align: left;
  padding: 0.4em 0.2em;
}

td.noBorder {
  border: none;
}

.filterContainer {
  padding: 1em 0;
  overflow: hidden; /*clearfix*/
}


.filterContainer div:first-child {
  float: left;
}

.filterContainer div:last-child {
  float: right;
}

@media (max-width: 550px) {
  .filterContainer div:nth-child(n) {
    float: none;
    padding-bottom: 1em;
  }
}
