.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.displayModal {
  display: block;
}

.modal {
  position: absolute;
  width: 600px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: white;
  padding: 2em;
}

.modal ul {
  float: left;
  list-style: none;
  padding: 0;
}

.modal img {
  width: 65%;
  display: block;
  float: right;
}

.exit {
  position: absolute;
  top: 0.7em;
  left: 0.6em;
  font-size: 1.1em;
  width: 1.2em;
  height: 1.5em;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 700px) {
  .modal {
    width: calc(85% - 4em); /*to account for the 2em of padding on each side of the modal*/
  }

  .modal ul {
    float: none;
  }

  .modal img {
    width: 100%;
    float: none;
    max-width: 500px;
    margin: 0 auto;
  }
}